
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
    <servlet>
        <servlet-name>DataStore</servlet-name>
        <servlet-class>logic.DataStore</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataStore</servlet-name>
        <url-pattern>/DataStore</url-pattern>
    </servlet-mapping> 
</web-app>
